<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello world</h1>

<h2 th:text="'userName: ' + ${userName}"></h2>
<h2 th:text="'password: ' + ${password}"></h2>

<img th:src="@{/img/qinshimingyue.jpeg}">

<table>
    <tr>
        <th colspan="2">List forEach Test</th>
    </tr>
    <tbody >
        <tr th:each="str: ${ls}">
            <td>字符串</td>
            <td th:text="${str}"></td>
        </tr>
    </tbody>
</table>
<table>
    course info
    <tr>
        <th>course name</th>
        <th>course level</th>
        <th>course publish date</th>
        <th>course picture</th>

    </tr>
    <tbody >
    <tr th:each="course: ${coursePage.getList()}">
        <td th:text="${course.getCourseName()}">字符串</td>
        <td th:text="${course.getCourseLevel()}">字符串</td>
        <td th:text="${course.getCourseDate()}">字符串</td>
        <td><img height="60px" width="120px" th:src="@{'course_imgs/' + ${course.getCoursePicture()}}"/></td>
    </tr>
    </tbody>
</table>


</body>


</html>