<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="steve.spring.model.dao.CourseDao">
	<select id="getAllCourseInfo" resultMap="courseResultMap">
		select c.course_id
			, c.course_name
			, c.course_category_id
			, c.course_introduce
			, c.course_notice
			, c.course_goal
			, c.user_teacher_id
			, c.course_picture
			, c.course_price
			, c.course_level
			, c.course_pubdate
		from course c
	</select>
	<resultMap id="courseResultMap" type="steve.spring.model.pojo.Course">
		<id column="course_id" property="courseId"/>
		<result column="course_name" property="courseName"/>
		<result column="course_category_id" property="courseCategoryId"/>
		<result column="course_introduce" property="courseIntroduce"/>
		<result column="course_notice" property="courseNotice"/>
		<result column="course_goal" property="courseGoal"/>
		<result column="user_teacher_id" property="userTeacherId"/>
		<result column="course_picture" property="coursePicture"/>
		<result column="course_price" property="coursePrice"/>
		<result column="course_level" property="courseLevel"/>
		<result column="course_pubdate" property="coursePubDate"/>
	</resultMap>
</mapper>